<a href="https://colab.research.google.com/github/KennethTBarrett/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/KBarrett_of_LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
import pandas as pd

url = "https://raw.githubusercontent.com/jvns/pandas-cookbook/master/data/weather_2012.csv"

df_weather = pd.read_csv(url, parse_dates = True, index_col = 'Date/Time')

In [168]:
df_weather.sample(10)

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather
Date/Time,,,,,,,
2012-07-30 13:00:00,28.5,15.5,45,15,48.3,101.17,Mostly Cloudy
2012-06-20 07:00:00,25.4,18.1,64,24,48.3,101.07,Mostly Cloudy
2012-01-31 01:00:00,-7.1,-13.2,62,6,25.0,101.88,Cloudy
2012-06-08 14:00:00,20.2,12.8,62,17,24.1,100.25,Cloudy
2012-01-04 06:00:00,-18.5,-24.1,61,11,25.0,101.74,Cloudy
2012-01-08 01:00:00,-0.6,-4.6,74,32,25.0,100.80,Mostly Cloudy
2012-12-28 14:00:00,-6.5,-9.9,77,22,48.3,101.17,Mainly Clear
2012-02-07 03:00:00,0.8,-5.0,65,19,25.0,100.94,Snow Showers
2012-12-26 09:00:00,-11.3,-12.7,89,15,4.0,102.52,"Snow Showers,Fog"
2012-04-22 11:00:00,4.6,-0.2,71,22,48.3,101.24,Cloudy

In [169]:
df_weather['Weather'].str.contains('Snow')

Date/Time
2012-01-01 00:00:00    False
2012-01-01 01:00:00    False
2012-01-01 02:00:00    False
2012-01-01 03:00:00    False
2012-01-01 04:00:00    False
                       ...
2012-12-31 19:00:00     True
2012-12-31 20:00:00     True
2012-12-31 21:00:00     True
2012-12-31 22:00:00     True
2012-12-31 23:00:00     True
Name: Weather, Length: 8784, dtype: bool

In [170]:
df_weather['Weather'].str.contains('Rain')

Date/Time
2012-01-01 00:00:00    False
2012-01-01 01:00:00    False
2012-01-01 02:00:00    False
2012-01-01 03:00:00    False
2012-01-01 04:00:00    False
                       ...
2012-12-31 19:00:00    False
2012-12-31 20:00:00    False
2012-12-31 21:00:00    False
2012-12-31 22:00:00    False
2012-12-31 23:00:00    False
Name: Weather, Length: 8784, dtype: bool

In [171]:
is_precip = df_weather['Weather'].str.contains('Rain') | df_weather['Weather'].str.contains('Snow')

is_precip

Date/Time
2012-01-01 00:00:00    False
2012-01-01 01:00:00    False
2012-01-01 02:00:00    False
2012-01-01 03:00:00    False
2012-01-01 04:00:00    False
                       ...
2012-12-31 19:00:00     True
2012-12-31 20:00:00     True
2012-12-31 21:00:00     True
2012-12-31 22:00:00     True
2012-12-31 23:00:00     True
Name: Weather, Length: 8784, dtype: bool

In [172]:
df_weather['is_precipitation'] = is_precip

df_weather.head()

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,is_precipitation
Date/Time,,,,,,,,
2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,False
2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,False
2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",False
2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",False
2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,False

In [173]:
df_weather['Visibility (mi)'] = 0.62*df_weather['Visibility (km)']
df_weather.head()

,Temp (C),Dew Point Temp (C),Rel Hum (%),Wind Spd (km/h),Visibility (km),Stn Press (kPa),Weather,is_precipitation,Visibility (mi)
Date/Time,,,,,,,,,
2012-01-01 00:00:00,-1.8,-3.9,86,4,8.0,101.24,Fog,False,4.960
2012-01-01 01:00:00,-1.8,-3.7,87,4,8.0,101.24,Fog,False,4.960
2012-01-01 02:00:00,-1.8,-3.4,89,7,4.0,101.26,"Freezing Drizzle,Fog",False,2.480
2012-01-01 03:00:00,-1.5,-3.2,88,6,4.0,101.27,"Freezing Drizzle,Fog",False,2.480
2012-01-01 04:00:00,-1.5,-3.3,88,7,4.8,101.23,Fog,False,2.976

In [174]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2019-11-02 03:09:01--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip.1’

LoanStats_2018Q4.cs     [      <=>           ]  21.66M   767KB/s    in 29s

2019-11-02 03:09:31 (753 KB/s) - ‘LoanStats_2018Q4.csv.zip.1’ saved [22709125]

In [0]:
!unzip LoanStats_2018Q4.csv.zip
!head LoanStats_2018Q4.csv

Archive:  LoanStats_2018Q4.csv.zip
replace LoanStats_2018Q4.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [0]:
!tail LoanStats_2018Q4.csv

In [0]:
df = pd.read_csv('LoanStats_2018Q4.csv')
df.head()

In [0]:
df = pd.read_csv('LoanStats_2018Q4.csv', header=1)
df.head()

In [0]:
df.tail()

In [0]:
df = pd.read_csv('LoanStats_2018Q4.csv',header = 1, skipfooter = 2, engine = 'python', skipinitialspace = True)
df.head()

In [0]:
df.tail()

In [0]:
print(df.shape)

In [0]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

In [0]:
df.isnull().sum()

In [0]:
df.isnull().sum().sort_values(ascending = False)

In [0]:
hardship_col = [col for col in df.columns if 'hardship' in col]
hardship_col

In [0]:
df.drop(columns = hardship_col).head()

In [0]:
help(df.drop)

In [0]:
type(df['int_rate'])

In [0]:
df['int_rate']

In [0]:
type(df[['int_rate']])

In [0]:
int_rate = '15.05%'
int_rate[:-1]

In [0]:
int_list = ['15.05%', '19.40%', '17.75%']
int_list[:2]

In [0]:
int_rate.strip('%')

In [0]:
'%15.%05%'.strip('%')

In [0]:
type(int_rate.strip('%'))

In [0]:
float(int_rate.strip('%'))

In [0]:
type(float(int_rate.strip('%')))

In [0]:
def remove_percent_to_float(string):
  return float(string.strip('%'))
  
int_list = ['15.05%', '19.40%', '17.75%']

[remove_percent_to_float(item) for item in int_list]

In [0]:
df['int_rate'].apply(remove_percent_to_float)
df['int_rate'].apply(lambda x: float(x.strip('%')))
df['int_rate'] = df['int_rate'].apply(remove_percent_to_float)

In [0]:
df.dtypes

In [0]:
df['emp_title'].value_counts(dropna = False).head(20)

In [0]:
df['emp_title'].nunique()

In [0]:
df.describe(exclude = 'number')

In [0]:
df['emp_title'].isnull().sum()

In [0]:
import numpy as np

In [0]:
examples = ['owner', 'Supervisor', ' Project Manager', np.NaN]

In [0]:
type(np.NaN)

In [0]:
def clean_title(item):
  if isinstance(item, str):
    return item.strip().title().lower()
  else:
    return "unknown"

[clean_title(item) for item in examples]

In [0]:
df['emp_title'] = df['emp_title'].apply(clean_title)

df.head()

In [0]:
df['emp_title'].value_counts(dropna = False).head(20)

In [0]:
df['emp_title'].describe(exclude = 'number')

In [0]:
df['emp_title'].nunique()

In [0]:
df.emp_title_manager = True
print(df.emp_title_manager)

In [0]:
df.emp_title_manager = df['emp_title'].str.contains("manager")

In [0]:
df['emp_title_manager'] = df['emp_title'].str.contains("manager")

df.head()

In [0]:
condition = df['emp_title_manager'] == True
managers = df[condition]
print(managers.shape)
managers.head()

In [0]:
managers = df[df['emp_title'].str.contains('manager')]
print(managers.shape)
managers.head()

In [0]:
plebians = df[df['emp_title_manager'] == False]
print(plebians.shape)
plebians.head()

In [0]:
managers['int_rate'].hist(bins = 20);

In [0]:
plebians['int_rate'].hist(bins = 20);

In [0]:
managers['int_rate'].mean()

In [0]:
plebians['int_rate'].mean()

In [0]:
df['emp_length'].unique()
def get_number(x):
  if isinstance(x, str):
    x = x.replace('+', '')
    for s in x.split():
      if s.isdigit():
        return int(s)
  else:
    return np.NaN

In [0]:
list(map(get_number, df['emp_length'].unique()))

In [0]:
df['emp_length_num'] = df['emp_length'].apply(get_number)

In [0]:
df.head()

In [0]:
mask = df['emp_length_num'] >= 3
df_experienced = df[mask]
df_inexperienced = df[~mask]

In [0]:
df_experienced.shape

In [0]:
df_inexperienced.shape

In [0]:
df_experienced['emp_length_num'].mean()

In [0]:
df_inexperienced['emp_length_num'].mean()

In [0]:
df_experienced['int_rate'].mean()

In [0]:
df_inexperienced['int_rate'].mean()

In [0]:
df['annual_inc'].mean()

In [0]:
df['annual_inc'].median()

In [0]:
mask = df['annual_inc'] > df['annual_inc'].median()
df_top50 = df[mask]
df_bottom50 = df[~mask]

In [0]:
df_top50.shape

In [0]:
df_bottom50.shape

In [0]:
print(df_top50['int_rate'].mean(), df_bottom50['int_rate'].mean())

In [0]:
mask = df['verification_status'] == 'Source Verified'
print(df[mask]['int_rate'].mean(), df[~mask]['int_rate'].mean())

In [0]:
print(f"{df[mask]['int_rate'].mean():.2f}, {df[~mask]['int_rate'].mean():.2f}")

In [0]:
df['issue_d']

In [0]:
df['issue_d'].describe()

In [0]:
df['issue_d'].value_counts()

In [0]:
df.dtypes

In [0]:
df['issue_d'] = pd.to_datetime(df['issue_d'], infer_datetime_format = True)

In [0]:
df['issue_d'].head().values

In [0]:
df.dtypes

In [0]:
df['issue_d'].dt.year

In [0]:
df['issue_d'].dt.month

In [0]:
df['issue_year'] = df['issue_d'].dt.year

In [0]:
df['issue_month'] = df['issue_d'].dt.month

In [0]:
df.head()

In [0]:
[col for col in df if col.endswith('_d')]

In [0]:
df['earliest_cr_line'].head()

In [0]:
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], infer_datetime_format = True)

In [0]:
df['issue_d'] - df['earliest_cr_line']

In [0]:
df['days_from_earliest_credit_to_issue'] = (df['issue_d'] - df['earliest_cr_line']).dt.days

In [0]:
df['days_from_earliest_credit_to_issue'].describe()

In [0]:
df['term'].sample(30)

In [0]:
df['term'] = df['term'].str.replace(r' months', '')

In [0]:
df['term'] = df['term'].astype(int)

In [0]:
df['term'].head()

In [0]:
def loanstatus(loan_status):
  if loan_status == 'Current':
      return '1'
  elif loan_status == 'Fully Paid':
      return '1'
  else:
      return '0'

In [0]:
df.apply(lambda row: loanstatus(row), axis = 1)

In [0]:
df['loan_status'] = df.apply(lambda row: loanstatus(loan_status), axis = 1)

In [0]:
df['loan_status'].sample(20)

In [0]:
df['last_pymnt_d_month'] = df.last_pymnt_d.str[:3]

In [0]:
df['last_pymnt_d_month'].head() # Th

In [0]:
df['last_pymnt_d_year'] = df.last_pymnt_d.str[4:] # This will take the last 4 - the year.

In [0]:
df['last_pymnt_d_year'].head()

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01